
<h3 class="center-block">Modificar Administrador</h3>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Id</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="id" ng-model="administrador.id">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="nombre" ng-model="administrador.nombre">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Apellidos</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Apellidos" ng-model="administrador.apellidos">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">DNI</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="DNI" ng-model="administrador.dni">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Direccion</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="direccion" ng-model="administrador.direccion">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Telefono</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="telefono" ng-model="administrador.telefono">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="email" ng-model="administrador.email">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="button" class="btn btn-primary" ng-click="update()">Actualizar</button>
            <button type="button" class="btn btn-default" ng-click="passShown = !passShown" ng-init="passShown = false">Cambiar Contraseña</button>
        </div>
    </div>
    <div ng-show="passShown">
        <div class="form-group">
            <label class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="contraseña" ng-model="pass">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Repetir contraseña</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" placeholder="repetir contraseña" ng-model="passrepeat">
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8">
            <button type="button" class="btn btn-danger" ng-click="changePass()">Cambiar</button>
        </div>
        
    </div>

</form>