<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html >
    <head >
        <title>Lista de Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../../lib/font-awesome/css/fontawesome.css">
        <link rel="stylesheet" href="../../lib/nprogress/nprogress.css">
        <link rel="stylesheet" href="../css/usuarios.css">

        <script type="text/javascript" src="../../js/contextPath.js.jsp"></script>
        <script src="../../lib/angular/js/angular.js"></script>
        <script src="../../lib/angular/js/angular-animate.js"></script>
        <script src="../../lib/jquery/jquery.min.js"></script>
        <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../lib/nprogress/nprogress.js"></script>
        <script src="js/usuarioController.js"></script>

    </head>
    <body ng-app="app">
        <div class="container-fluid" ng-controller="listUsuariosController">
            <h1 class="primary">Listado de usuarios</h1>
            <table  class="table table-striped container">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>DNI</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Email</th>                
                    <th></th>                
                </tr>
                <tr ng-repeat="usuario in usuarios" class="animate">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellidos}}</td>
                    <td>{{usuario.dni}}</td>
                    <td>{{usuario.direccion}}</td>
                    <td>{{usuario.telefono}}</td>
                    <td>{{usuario.email}}</td>            
                    <td><button type="button" class="btn btn-default" ng-click="editar(usuario)"><i class="fa fa-gear"></i></button>
                        <button type="button" class="btn btn-danger" ng-click="borrar(usuario)" data-toggle="modal" data-target="#confirmModal">
                            <i class="fa fa-trash-o"></i></button>
                    </td>            
                </tr>
            </table>

            <div class="modal fade" id="confirmModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Borrar Usuario</h4>
                        </div>
                        <div class="modal-body">
                            <p>Seguro quieres eliminar el usuario {{usuarioBorrar.id}} {{usuarioBorrar.nombre}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-danger" ng-click="confirmBorrar()" data-dismiss="modal">Eliminar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </body>
</html>
