<!DOCTYPE html>

<div class="container-fluid"> 
    <a href="#/cuenta/" ><h1 class="page-header">Cuenta</h1></a>
    <div class="form">
        <p> <label  class="badge" for="id" ng-show="{{show}}">ID:</label><br/>
            <input   class="form-control text-center" id="id" ng-model="cuenta.idCuenta" type="text" placeholder="ID" ng-show="{{show}}"></p>
        <p><label  class="badge" for="nombre">Saldo:</label><br/>
            <input   class="form-control text-center " id="saldo"  ng-model="cuenta.saldoCuenta" type="double" placeholder="Saldo"></p>
        <p><label  class="badge" for="codigo">Id sucursal:</label><br/>
            <input  class="form-control text-center" id="idSuc" ng-model="cuenta.idSucursal" type="text" placeholder="Sucursal"></p>
        <p><label class="badge" for="codigo">Tipo de cuenta:</label><br/>
            <input class="form-control text-center"  id="tipo" ng-model="cuenta.tipoCuenta" type="text" placeholder="Tipo"></p>
        <button  class="btn btn-primary" ng-click="formSend()">{{buttonText}}</button>

    </div>


</div>
