<div class="container-fluid">
    <h1>Cuentas</h1>

    <button ng-click="crearCuenta()" class="btn btn-primary pull-right margin-small">
        <i class="fa fa-plus"></i> Añadir
    </button>

    <table class="table table-striped table-hover table-bordered table-shadow">
        <tr>
            <th>Saldo</th>
            <th>Id Sucursal</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
        <tr ng-repeat="cuenta in cuentas">
            <td>{{cuenta.saldoCuenta|currency: "€"}}</td>
            <td>{{cuenta.idSucursal}}</td>
            <td>{{cuenta.tipoCuenta}}</td>
            <td class="actions">
                <button ng-click="editCuenta(cuenta.idCuenta)" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button ng-click="deleteCuenta(cuenta.idCuenta)" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </table>
</div>
