<body>
    <div id="mainContent">
        <h1>Cuentas:</h1>
        <table class="table table-striped container table-hover">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Saldo</td>
                    <td>Id Sucursal</td>
                    <td>Tipo</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cuenta in cuentas">
                    <td>{{cuenta.idCuenta}}</td>
                    <td>{{cuenta.saldoCuenta}}</td>
                    <td>{{cuenta.idSucursal}}</td>
                    <td>{{cuenta.tipoCuenta}}</td>
                    <td><button ng-click="edit(cuenta.idCuenta)" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="deleteCuenta(cuenta.idCuenta)" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>