<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Controlador Entidad</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="../lib/angular/js/angular.js"></script>
        <script type="text/javascript" src="../js/movimientoForm.js.js"></script>
        <script type="text/javascript" src="../js/contextPath.js.jsp"></script>
    </head>
    <body ng-controller="ControladorMovimiento">
        <h1>Entidad Bancaria:</h1>
        <p><label for="idMovimiento">ID:</label><br/>
            <input id="idMovimiento" ng-model="movimiento.idMovimiento" type="text"></p>
        <p><label for="tipo">Tipo:</label><br/>
            <input id="tipo" ng-model="movimiento.tipo" type="text"></p>
        <p><label for="cuentaOrigen">Cuenta Origen:</label><br/>
            <input id="cuentaOrigen" ng-model="movimiento.cuentaOrigen" type="text"></p>
        <p><label for="cuentaDestino">Cuenta Destino:</label><br/>
            <input id="cuentaDestino" ng-model="movimiento.cuentaDestino" type="text"></p>
        <p><label for="cantidad">Cantidad:</label><br/>
            <input id="cantidad" ng-model="movimiento.cantidad" type="text"></p>
        <p><label for="fecha">Fecha:</label><br/>
            <input id="fecha" ng-model="movimiento.fecha" type="text"></p>

        <button ng-click="getMovimiento();">Cargar</button>
        <button onclick="javascript:idMovimiento.value=''" ng-click="insertMovimiento();">Insertar</button>
        <button ng-click="updateMovimiento();">Actualizar</button>
        <button ng-click="deleteMovimiento();">Borrar</button>
    </body>
</html>
