<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<h1>Movimientos:</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Tipo</td>
        <td>Cuenta Origen</td>
        <td>Cuenta Destino</td>
        <td>Descripcion </td>
        <td>Cantidad</td>
        <td> Acciones</td>
        

    </tr>
    <tr ng-repeat="movimiento in movimientos">
        <td>{{movimiento.id}}</td>
        <td>{{movimiento.tipo}}</td>
        <td>{{movimiento.cuentaOrigen}}</td>
        <td>{{movimiento.cuentaDestino}}</td>
        <td>{{movimiento.descripcion}}</td>
        <td>{{movimiento.cantidad}}</td>
        <td class="actions">
            <button ng-click="editar(movimiento.id)"><i class="fa fa-edit"></i>
            </button><button ng-click="deleteMovimiento(movimiento.id)"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</table>