.table {
    width:100%;

    tr {
        /*&:first-child {
            background:#a6c2e0;
        }
        &:not(:first-child):nth-child(odd) {
            background:#DFE7F7;
        }
        &:nth-child(even) {
            background:#EAEFFA;
        }*/

        td {
            padding:4px !important;
            vertical-align:middle !important;
            &:first-child {
                width:48px; text-align:right;
            }
            &.actions {
                width:100px;
                .btn {
                    padding:2px 12px;
                }
            }
        }
    }
}

.form {
    width:100%;
    max-width:480px;
    margin:auto;
}

$sidebar-backColor:#1d1f21;
$nav-elemColor:#9d9d9d;
$nav-hoverColor:#ffffff;
$nav-backActive : #080808;
$nav-borderActive:#0d77b6;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transition-delay($transition-property, $transition-time, $method, $delay) {
    -webkit-transition: $transition-property $transition-time $method $delay;
    -moz-transition: $transition-property $transition-time $method $delay;
    -ms-transition: $transition-property $transition-time $method $delay;
    -o-transition: $transition-property $transition-time $method$delay;
    transition: $transition-property $transition-time $method $delay;
}

@mixin transform($val1, $val2){
    transform-origin: $val1 $val2;
    -webkit-transform-origin: $val1 $val2;
}

@mixin animation($type, $time, $val, $transition){
    -webkit-animation:$type $time $val $transition;
    -moz-animation:$type $time $val $transition;
    animation:$type $time $val $transition; 
}


body, html{
    margin:0px;
    padding:0px;
}

nav.sidebar{
    background-color: $sidebar-backColor;
    position:fixed;
    width: 240px;
    height: 100%;
    top: 0;
    left:-200px;
    z-index: 1000;
    @include transition(all, 0.2s, linear);


    &:hover{
        left:0px;
        h3, a{
            opacity: 1;
        }

    }

    h3{
        font-size: 1.9em;
        padding: 20px;
        margin: 0;
        font-weight: 300;
        color:$nav-hoverColor;
        //opacity: 0;
        //opacity: 1;
        // @include transition-delay(all, 0.2s, linear, 0.3s);
    }

    a{
        display: block;
        color: $nav-elemColor;
        font-size: 1.1em;
        font-weight: 300;
        padding: 1em;
        //opacity: 0;
        //opacity: 1;
        text-decoration: none;
        //@include transition-delay(all, 0.2s, linear, 0.3s);

        &:hover{
            color: $nav-hoverColor;
        }

        &.active{
            color: $nav-hoverColor;
            background-color: $nav-backActive;
            border-right: 4px solid $nav-borderActive;
        }
    }
}


div.wrap-body{
    position:absolute;
    width:100%;
    padding-left:45px;
    @include transition(all, 0.2s, linear);

    &.ng-leave{
        opacity:0;
    }
    &.ng-enter{ 
        opacity:1;
    }
    
    &.menuHover{
        padding-left:245px;
    }
}

.animate.ng-enter, .animate.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:0;
} 

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
    opacity:1;
}
.animate.ng-leave.ng-leave-active, .animate.ng-enter {
    opacity:0;
}