.table {
    width:100%;

    tr {
        /*&:first-child {
            background:#a6c2e0;
        }
        &:not(:first-child):nth-child(odd) {
            background:#DFE7F7;
        }
        &:nth-child(even) {
            background:#EAEFFA;
        }*/

        td {
            padding:4px !important;
            vertical-align:middle !important;

            &:first-child {
                width:48px; text-align:right;
            }
            &.actions {
                width:100px;

                .btn {
                    padding:2px 12px;
                }
            }
        }
    }
}

$sidebar-backColor:#1d1f21;
$nav-elemColor:#9d9d9d;
$nav-hoverColor:#ffffff;
$nav-backActive : #080808;
$nav-borderActive:#008C9E;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transition-delay($transition-property, $transition-time, $method, $delay) {
    -webkit-transition: $transition-property $transition-time $method $delay;
    -moz-transition: $transition-property $transition-time $method $delay;
    -ms-transition: $transition-property $transition-time $method $delay;
    -o-transition: $transition-property $transition-time $method$delay;
    transition: $transition-property $transition-time $method $delay;
}

@mixin transform($val1, $val2){
    transform-origin: $val1 $val2;
    -webkit-transform-origin: $val1 $val2;
}

@mixin animation($type, $time, $val, $transition){
    -webkit-animation:$type $time $val $transition;
    -moz-animation:$type $time $val $transition;
    animation:$type $time $val $transition; 
}


body, html{
    margin:0px;
    padding:0px;
}

hr.colored{
    background-color: $nav-borderActive;
    color:$nav-borderActive;
}

nav.sidebar{
    background-color: $sidebar-backColor;
    position:fixed;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    @include transition(all, 0.2s, linear);

    i.fa{
        width:25px;
    }

    &:hover{
        h3, a{
            opacity: 1;
        }

    }

    h3{
        font-size: 1.9em;
        padding: 20px;
        margin: 0;
        font-weight: 300;
        color:$nav-hoverColor;
        text-align: center;
        background-color: #131516;
        //opacity: 0;
        //opacity: 1;
        // @include transition-delay(all, 0.2s, linear, 0.3s);
    }

    a{
        display: block;
        color: $nav-elemColor;
        font-size: 1.1em;
        font-weight: 300;
        padding: 1em;
        //opacity: 0;
        //opacity: 1;
        text-decoration: none;
        //@include transition-delay(all, 0.2s, linear, 0.3s);

        &:hover{
            color: $nav-hoverColor;
        }

        &.active{
            color: $nav-hoverColor;
            background-color: $nav-backActive;
            border-right: 4px solid $nav-borderActive;
        }
    }
}


div.wrap-body{
    position:absolute;
    width:100%;
    height:100%;
    padding-left:245px;
    @include transition(all, 0.2s, linear);

    &.ng-leave{
        opacity:0;
    }
    &.ng-enter{ 
        opacity:1;
    }

    &.login{
        padding-left:0px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
        height:100%;

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
                &:focus{
                    z-index: 2;
                }

            }
            input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }

    }
}

.animate.ng-enter, .animate.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:0;
} 

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
    opacity:1;
}
.animate.ng-leave.ng-leave-active, .animate.ng-enter {
    opacity:0;
}

.margin-small {
    margin:4px;
}
