body {
    margin:0;
    text-align:center;
    background:#E8E8E8;
}

nav#routes {
    font-size:1.1em;
    background:white;
    border:1px solid lightgray;
    ul {
        margin:0;
        padding:0;
        li {
            list-style:none;
            a {
                color:#303030;
                text-decoration:none;
                display:inline-block;
                padding:8px 0;
                width:25%;
                &:hover {
                    background:lightskyblue;            
                }
            }
        }
    }    
}

#embedded {
    width:100%;
    max-width:1024px;
    margin:auto;
    padding:1em;
    margin-top:24px;
    background:white;

    h1 {
        margin-top:8px;
    }
}

.table {
    width:100%;

    tr {
        /*&:first-child {
            background:#a6c2e0;
        }
        &:not(:first-child):nth-child(odd) {
            background:#DFE7F7;
        }
        &:nth-child(even) {
            background:#EAEFFA;
        }*/

        td {
            padding:4px !important;
            vertical-align:middle !important;

            &:first-child {
                width:48px; text-align:right;
            }
            &.actions {
                width:100px;

                .btn {
                    padding:2px 12px;
                }
            }
            &#add {
                padding:0 !important;

                .btn {
                    width:100%;
                    border-radius:0;
                }
            }
        }
    }
}

.form {
    width:100%;
    max-width:480px;
    margin:auto;
}