<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Editor - Entidad Bancaria</title>
        <meta charset="UTF-8">
        <script type="text/javascript" src="../../lib/angular/js/angular.js"></script>
        <script type="text/javascript" src="../../js/contextPath.js.jsp"></script>
        <script type="text/javascript" src="../../js/common.js"></script>
        <script type="text/javascript" src="js/detailController.js"></script>
    </head>
    <body ng-controller="EntidadTablaDetailController">
        <h1>Entidad Bancaria:</h1>
        <p><label for="id">ID:</label><br/>
            <input id="id" ng-model="entidadBancaria.id" type="text"></p>
        <p><label for="nombre">Nombre:</label><br/>
            <input id="nombre" ng-model="entidadBancaria.nombre" type="text"></p>
        <p><label for="codigo">Código:</label><br/>
            <input id="codigo" ng-model="entidadBancaria.codigo" type="text"></p>

        <button ng-click="getEntidadBancaria();">Cargar</button>
        <button onclick="javascript:id.value=''" ng-click="insertEntidadBancaria();">Insertar</button>
        <button ng-click="updateEntidadBancaria();">Actualizar</button>
        <button ng-click="deleteEntidadBancaria();">Borrar</button>
    </body>
</html>
