<h1>Entidades Bancarias:</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Código</td>
        <td>Acciones</td>
    </tr>
    <tr ng-repeat="entidadBancaria in entidadesBancarias" class="table table-bordered">
        <td>{{entidadBancaria.id}}</td>
        <td>{{entidadBancaria.nombre}}</td>
        <td>{{entidadBancaria.codigo}}</td>
        <td class="actions"><button ng-click="edit(entidadBancaria.id)"><i class="fa fa-edit"></i>
            </button><button ng-click="deleteEntidadBancaria(entidadBancaria.id)"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</table>