/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2014, 1:34:22 PM
    Author     : eslem
*/
.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  transition: 400ms cubic-bezier(0.25, 0.1, 0.25, 1) all;
  position: relative;
  display: block; }

.animate-leave.animate-leave-active,
.animate-enter {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  opacity: 0; }

.animate-enter.animate-enter-active,
.animate-leave {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  height: 30px;
  opacity: 1; }


.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-left: 100%;
}

.ng-enter-active {
  margin-left: 0;
}

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  
  margin-left: 0;
}

.ng-leave-active {
  margin-left: 100%;
}

.ng-move {
  -webkit-transition: 1s;
  transition: 1s;
  
  background: gold;
}

.ng-move-active {
  background: #fff;
}