<div class="container-fluid">
    <h2 class="center-block">{{mainButton}} Administrador</h2>
    <hr/>

    <form class="form-horizontal" role="form" name="formAdmin">
        <div class="form-group">
            <label class="col-sm-2 control-label">Id</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="id" ng-model="user.id" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="nombre" ng-model="user.nombre" ng-maxlenght="50" name="campoNombre">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Apellidos</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="apellidos" ng-model="user.apellidos" ng-maxlength="50" name="campoApellidos">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">DNI</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="DNI" ng-model="user.dni" ng-pattern="/(\d{8})([a-zA-Z]{1})/" name="campoDNI">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Direccion</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="direccion" ng-model="user.direccion" name="campoDireccion">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Telefono</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="telefono" ng-model="user.telefono" ng-maxlenght="9" name="campoTelefono">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" placeholder="email" ng-model="user.email" name="campoEmail">
            </div>
        </div>
        <div ng-show="passShown">
            <div class="form-group">
                <label class="col-sm-2 control-label">Contraseña</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="contraseña" ng-model="password" ng-pattern="/[a-zA-Z]{8,25}/" name="campoPassword">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Repetir contraseña</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="repetir contraseña" ng-model="passrepeat" ng-pattern="/[a-zA-Z]{8,25}/" name="campoRepeatPassword">
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-8">
                <button type="button" class="btn btn-danger" ng-click="changePass()" ng-show="detailShown">Cambiar</button>
            </div>
        </div>

        <div class="formErrors">
            <div ng-repeat="error in errors">
                <span class="source">"{{error.fieldName}}"</span><span> {{error.message}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8" align="center">
                <button type="button" class="btn btn-primary" ng-click="update()">
                    {{mainButton}}
                </button>
                <button type="button" class="btn btn-default" ng-show="detailShown" ng-click="passShown = !passShown">Cambiar Contraseña</button>
            </div>
        </div>
        
        
        <div  ng-show="formAdmin.$invalid && mostrarErrores" class="formErrors">

            <span class="source" ng-show="formAdmin.campoNombre.$error.required"><span>NOMBRE DE USUARIO: Campo requerido</span></span>
            <span class="source" ng-show="formAdmin.campoApellidos.$error.required"><span>APELLIDOS DE USUARIO: Campo requerido</span></span>
            <span class="source"ng-show="formAdmin.campoDNI.$error.required"><span>DNI DE USUARIO: Campo requerido</span></span>
            <span class="source" ng-show="formAdmin.campoDNI.$error.pattern" ><span>DNI DE USUARIO: Valor incorrecto (Ejemplo: 12345678X)</span></span>
            <span class="source" ng-show="formAdmin.campoDireccion.$error.required"><span>DIRECCION DE USUARIO: Campo requerido</span></span>
            <span class="source" ng-show="formAdmin.campoEmail.$error.required" ><span>EMAIL DE USUARIO: Campo requerido </span>  </span>
            <span class="source" ng-show="formAdmin.campoEmail.$error.email" ><span>EMAIL DE USUARIO: Valor incorrecto (Ejemplo: x@x.x)</span> </span>
            
            <!-- <p ng-show="formClient.pass.$error.required">PASSWORD DE USUARIO: Campo requerido</p>
             <p ng-show="formClient.passrepeat.$error.required">CONFIRMACION PASSWORD DE USUARIO: Campo requerido</p>-->
        </div>


    </form>
</div>
